.to-hide{
  display: none;
}

.alert{
    color: #f00;
}

#intro { 
    background: url(../imgs/img_login.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cdheader {
    background: linear-gradient(180deg, #f4f7eb 0%, #c7e452 100%);
    padding-top:7px;
    padding-bottom:7px;
    font-family: 'KoHo', sans-serif;
}
#cdheader h5 {
    margin-bottom:0px;
}
#cdbody {
    background: aliceblue;
    border-radius: inherit;
}